$background-color: hsl(228, 33%, 97%);

body{
    font-family:Verdana;
    background-color:$background-color;
}

main{
    background-color:gray;
    height:fit-content;
    margin-left:25%;
    margin-right:25%;
    margin-top:3%;
}

.pfpPost{
    height:40px;
    margin:20px;
    vertical-align:top;
}

#text{
    resize:none;
    width:70%;
    height:70%;
    margin-top:20px;
    border-radius:10px;
    text-indent:10px;
    border:1px solid gray;
}

#text::placeholder{
    color:gray;
    font-size:20px;
}

.submitButton {
    position:relative;
    width: 13%;
    height: 25%;
    color:white;
    font-weight:600;
    bottom:40%;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: hsl(238, 40%, 52%);
}

.comment{
    background-color:white;
    height:fit-content;
    width:contain;
    border-radius:10px;
    margin-bottom:10px;
    margin-top:10px;
}

.likeDislike{
    position:relative;
    height:80px;
    width:30px;
    background-color:$background-color;
    color:red;
    border-radius:10px;
    margin:15px;
    display:inline-grid;
    justify-content:center;
    line-height:0px;
    vertical-align:top;
}

.plusMinus{
    display:inline;
    border:none;
    outline:none;
    background-color:transparent;
    margin-top:2px;
    margin-bottom:3px;
    padding:0px;
}

.name{
    display:inline;
    color:blue;
    font-weight:600;
}

.date{
    display:inline;
    color:gray;
}

.pfp{
    position:relative;
    display:inline;
    height:19px;
    top:3px;
}

.nameDateContainer{
    position:relative;
    display:inline-block;
    width:fit-content;
    margin-top:15px;
    margin-bottom:15px;
    height:fit-content;
    border-spacing:10px;
    vertical-align:middle;
}

.reply {
    float: right;
    margin: 10px;
    height:fit-content;
    color: hsl(238, 40%, 52%);
    outline:none;
    border:none;
    background-color:transparent;
    font-weight:700;
}

.message{
    display:inline;
    color:darkgray;
}

#posting{
    position:relative;
    height:150px;
    background-color:white;
    border-radius:10px;
    top:100%;
}